:root {
  --color-bg: #FFF;
  --color-bg-halftone: #F2F2F2;
  --color-text-title: #000;
  --color-text-body: #4c4c4c;
  --color-primary: #0099FF;

  --mb-xs: .5rem;
  --mb-s: 1rem;
  --mb-m: 2rem;
  --mb-l: 6rem;
  --mb-xl: 16rem;
}

