/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Reddit+Sans+Condensed:wght@200..900&display=swap'); */

:root {
  --color-bg: #FFF;
  --color-bg-midtone: #F2F2F2;
  --color-text-title: #000;
  --color-text-body: #4c4c4c;
  --color-primary: #0099FF;

  --mb-xs: .5rem;
  --mb-s: 1rem;
  --mb-m: 2rem;
  --mb-l: 6rem;
  --mb-xl: 12rem;

  --font-text-body: 'Inter', sans-serif;
  --font-main-text: 'Reddit Sans Condensed', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  margin-block-end: var(--mb-l);
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;

}

a, .action {
  text-decoration: none;
  color: var(--color-bg);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font-text-body);
}

.action {
  text-transform: uppercase;
}

h1, h2 {
  font-family: var(--font-main-text);
  text-transform: uppercase;
  font-weight: 900;
} 

p, .subtitle, ul {
  text-transform: none;
  font-size: 1.5rem;
  color: var(--color-text-body);
  font-weight: 400;
  font-family: var(--font-text-body);
}

h2 {
  font-size: 5rem;
}

.section-title {
  margin-block-end: var(--mb-l);
  text-align: center;
}

.reverse-bg {
  background-color: var(--color-text-title);
  color: var(--color-bg);
}

@media only screen and (max-width: 1000px) {
  section {
    padding-inline: 1rem;
  }
}