:root {
  --color-bg: #FFF;
  --color-bg-halftone: #F2F2F2;
  --color-text-title: #000;
  --color-text-body: #4c4c4c;
  --color-primary: #0099FF;

  --mb-xs: .5rem;
  --mb-s: 1rem;
  --mb-m: 2rem;
  --mb-l: 6rem;
  --mb-xl: 16rem;
}

p {
  font-size: 1.5rem;
  color: var(--color-text-body);
}

h2 {
  font-size: 5rem;
  font-weight: 900;
}

.reverse-bg * {
  background-color: var(--color-text-title);
  color: var(--color-bg);
}