#about {
  margin-block-end: var(--mb-xl);
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  max-width: 1600px;
}

.about-card {
  background-color: var(--color-bg-midtone);
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.about-card p:not(:last-child), .skills-list {
  margin-block-end: var(--mb-s);
}

.certificate-link {
  background-color: inherit;
  color: inherit;
}

.drawings-container img {
  max-width: 200px;
}

.drawings-container.about-card {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  gap: 2rem;
  justify-content: center;

  & img {
    height: 100%;
    &:not(.img-gladiator) {
      object-fit: cover;
    } 
  }
}

img.img-gladiator {
  object-fit: contain;
}

ul {
  padding-inline-start: 2rem;
}

@media only screen and (min-width: 1000px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .life-story-container {
    grid-column: span 2;
  }

  .skills-container {
    grid-column: span 2;
  }

  .drawings-container.about-card {
    grid-template-rows: repeat(4, 50px) 66px;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem 0;
    justify-items: end;
  }

  .img-tentacles {
    grid-row: 1 / 5;
    grid-column: 2 / 7;
    min-width: 100%;
  }

  .img-slash {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    width: 100%;
    object-fit: cover;
  }

  .img-gladiator {
    grid-column: 5 / 7;
    grid-row: 5 / 6;
    height: 100px;
  }
}
