.container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding: 2rem;
  width: fit-content;
}

.main-title {
  font-size: max(2rem, 14vw);
  width: fit-content;
  line-height: .9em;
} 

.subtitle {
  color: var(--color-text-body);
  font-weight: 400;
  font-family: var(--font-text-body);
  font-size: clamp(1.5rem, 2vw, 5rem);
  text-transform: none;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .container {
    padding-inline: 1vw;
  }
}

@media only screen and (max-width: 760px) {
  .header-container {
    padding-block-start: 66px;
  }

  .subtitle {
    font-size: 1rem;
  }
}