.container {
  display: flex;
  flex-direction: column-reverse;
  padding: 2rem;
}

.main-title {
  font-size: 14vw;
  width: fit-content;
  line-height: .9em;
} 

.subtitle {
  color: var(--color-text-body);
  font-weight: 400;
  font-family: var(--font-text-body);
  font-size: 1.5rem;
  text-transform: none;
  width: 100%;
}