/* .background-blur {
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  width: 100dvw;
  height: 2rem;
  z-index: 998;
  backdrop-filter: blur(4px);
} */

.container {
  position: fixed;
  padding-block: 1rem 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  width: 100dvw;
}

.nav-list {
  list-style: none;
  display: flex;
  height: fit-content;
  border-radius: 100vw;
  /* background-color: var(--color-primary); */
  background-color: hsla(204, 100%, 50%, 0.9);
}

.nav-item, .nav-link-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  
}

.nav-link, .nav-link-home {
  margin-inline: 2rem;
  background-color:transparent;
  padding-block: 1rem;
}

.nav-link-home {
  font-size: 2rem;
}