/* .background-blur {
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  width: 100dvw;
  height: 2rem;
  z-index: 998;
  backdrop-filter: blur(4px);
} */

.container {
  position: fixed;
  padding-block: 1rem 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  width: 100dvw;
  pointer-events: none;
}

.toggle-container {
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
  height: fit-content;
  border-radius: 100vw;
  /* background-color: var(--color-primary); */
  background-color: hsla(204, 100%, 50%, 0.9);
  pointer-events: all;
  margin: 0;
}

.nav-item, .nav-link-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.nav-link {
  margin-inline: 2rem;
  background-color:transparent;
  padding-block: 1rem;
  cursor: pointer;

  transition-property: scale letter-spacing;
  transition-duration: .3s;
}

.nav-link:hover, .nav-toggle:hover {
    scale: 1.1;
    letter-spacing: 1px;
  }

.nav-link-home {
  font-size: 2rem;
}

@media only screen and (max-width: 760px) {
  .container {
    left: -100%;
    transition: all .2s;
    justify-content: start;
    top: 66px;
    padding: 0;
    width: fit-content;
  }
  
  .toggle-container {
    background-color: var(--color-primary);
    width: 100dvw;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 1rem;
    display: block;
  }

  .nav-link-home {
    position: fixed;
    right: 0;
    top: 0;
  }

  .nav-toggle {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: scale .3s;
  }

  .nav-toggle span {
    display: block;
    height: 6px;
    width: 48px;
    background-color: var(--color-bg);
    transition: .3s;
    border-radius: 100vw;
  }

  .nav-toggle .active:nth-child(1) {
    transform: rotate(45deg) translateY(10px) translateX(10px);
  }

  .nav-toggle .active:nth-child(2) {
    transform: scaleX(0);
    transform-origin: center;
  }

  .nav-toggle .active:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px) translateX(10px);
  }

  .nav-list {
    flex-direction: column;
    border-radius: 0;
    border-bottom-right-radius: 16px;
    height: 100vh;
    padding-inline: 0rem;
  }

  .nav-link {
    margin-inline: 0;
    padding-inline: 2rem 4rem;
  }

  .nav-link-home {
    padding-inline: 1rem;
    padding-block: 1rem;
  }

  .active ~ .container {
    left: 0;
  }
}