.footer-container {
  overflow-x: hidden;
  position: static;
  bottom: 0;
  height: fit-content;

  & footer {
    padding-block-end: 3rem;
    box-shadow: 0 -2px 0 0 var(--color-text-title);
  }

  & .section-title {
    margin-block-end: var(--mb-m);
  }
}

.contact-list {
  list-style: none; 
  display: flex;
  justify-content: center;
  gap: 5vw;
  padding: 0;
  margin-bottom: var(--mb-l);
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100vw;
  color: var(--color-text-title);
  font-size: 3rem;
  padding: 1rem;
}

.copyright {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-text-body);
  padding-inline: 1rem;
}