/* .background-blur {
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  width: 100dvw;
  height: 2rem;
  z-index: 998;
  backdrop-filter: blur(4px);
} */

.container {
  position: fixed;
  padding-block: 1rem 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  width: 100dvw;
}

.nav-list {
  list-style: none;
  display: flex;
  background-color: var(--color-primary);
  height: fit-content;
  border-radius: 100vw;
}

.nav-link, .nav-list {
  padding-block: 1rem;
}

.nav-link {
  margin-inline: 2rem;
}