#projects {
  padding-block: var(--mb-l);
  background-color: var(--color-primary);

  /*    
    Consertando artefato da linha branca de 1px 
    que aparece entre a onda e o fundo da seção
  */ 

  box-shadow: 0 -1px 0 0 var(--color-primary);

  & header * {
    color: var(--color-bg);
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:var(--mb-m);
}

.project-card {
  padding: 2rem;
  border-radius: 16px;
  background-color: var(--color-bg);
  width: clamp(300px, 80vw, 1136px);

  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 2rem;

  &:hover {
    img, .project-info {
      scale: 1.02;
    }
  }
}

.project-info-container {
  display: flex;
  gap: 4rem;
}

.project-info {
  transition: scale .3s;
}

.reverse-order {
  flex-direction: row-reverse;
}

.project-title {
  margin-bottom: var(--mb-xs);
  font-style: italic;
}

.project-thumbnail {
  border-radius: 16px;
  aspect-ratio: 5/4;
  object-fit: cover;
  max-width: 500px;
  box-shadow: 2px 2px 16px 0px #616161;
  transition: scale .3s;

}

.action-button {
  padding-block: 1rem;
  padding-inline: 2.5rem;
  border-radius: 100vw;
  border: 2px solid var(--color-primary);

  position: relative;
  overflow: hidden;
  z-index: 1;
}

.action-button::before {
  position: absolute;
  content: "";
  background: var(--color-bg);
  width: 100%;
  height: 200px;
  z-index: -1;
}

.action-button:hover {
  color: var(--color-primary);
}

.action-button:before {
  right: 100%;
  top: 0;
  transition: 0.3s all;
}

.action-button:hover::before {
  right: 0;
}

@media only screen and (max-width: 1100px) {
  #projects {
    padding-inline: 2vw;
  }

  .project-card {
    width: 100%;
    padding: 1rem;
  }

  .project-card .project-info-container {
    flex-direction: column-reverse;
  }

  .project-thumbnail {
    object-fit: cover;  
    max-height: 50vh;
    width: 100%;
  }
}