#projects {
  padding-block-start: var(--mb-l);
  background-color: var(--color-primary);

  /*    
    Consertando artefato da linha branca de 1px 
    que aparece entre a onda e o fundo da seção
  */ 

  box-shadow: 0 -1px 0 0 var(--color-primary);

  & header * {
    color: var(--color-bg);
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:var(--mb-m);
}

.project-card {
  padding: 2rem;
  border-radius: 16px;
  background-color: var(--color-bg);
  width: clamp(300px, 80vw, 1136px);

  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 2rem;


  &:nth-of-type(even) {
    .project-info-container {
      flex-direction: row-reverse;
    }
  } 
}

.project-info-container {
  display: flex;
  gap: 4rem;
}

.project-title {
  margin-bottom: var(--mb-xs);
  font-style: italic;
}

.action-button {
  padding-block: 1rem;
  padding-inline: 2.5rem;
  border-radius: 100vw;
}