#projects {
  padding-block: var(--mb-l);
  background-color: var(--color-primary);

  /*    
    Consertando artefato da linha branca de 1px 
    que aparece entre a onda e o fundo da seção
  */ 

  box-shadow: 0 -1px 0 0 var(--color-primary);

  & header * {
    color: var(--color-bg);
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:var(--mb-m);
}

.project-card {
  padding: 2rem;
  border-radius: 16px;
  background-color: var(--color-bg);
  width: clamp(300px, 80vw, 1136px);

  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 2rem;
}

.project-info-container {
  display: flex;
  gap: 4rem;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}

.project-title {
  margin-bottom: var(--mb-xs);
  font-style: italic;
}

.project-thumbnail {
  border-radius: 16px;
}

.action-button {
  padding-block: 1rem;
  padding-inline: 2.5rem;
  border-radius: 100vw;
}

@media only screen and (max-width: 1100px) {
  #projects {
    padding-inline: 2vw;
  }

  .project-card {
    width: 100%;
    padding: 1rem;
  }

  .project-card .project-info-container {
    flex-direction: column-reverse;
  }

  .project-thumbnail {
    object-fit: cover;  
    max-height: 50vh;
    width: 100%;
  }
}